$tamz_primary_color: #03A9F4;
$tamz_font_family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
$tamz_font_color: #333;
$tamz_label_color: #aaa;
$tamz_down_rank: #37af56;
$tamz_up_rank: #ff443e;
$tamz_success_color: #42b72a;