.FilterStatus {
    &.isActive{
        .SelectWrapper{
            background-color: #4cbff5;
            border-radius: 5px;

            select{
                background-color: transparent;
                color: #fff;
                border: none;

                option{
                    color: #808080;
                }
            }
        }
    }
}